<?xml version="1.0" encoding="UTF-8"?>

<Configuration status="warn">
    <Properties>
        <Property name="basePath"> C:\\Users\domib\Desktop\Calculator-master\logs </Property>
        <Property name="LOG_PATTERN"> %d{yyyy-MM-dd'T'HH:mm:ss.SSSZ} %p %m%n </Property>
    </Properties>

    <Appenders>
        <RollingFile name="infoLog" fileName="${basePath}/info.log" filePattern="${basePath}/info-%d{yyyy-MM-dd}.log">
            <LevelRangeFilter minLevel="INFO" maxLevel="INFO" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>

        <RollingFile name="errorLog" fileName="${basePath}/error.log" filePattern="${basePath}/error-%d{yyyy-MM-dd}.log">
            <LevelRangeFilter minLevel="ERROR" maxLevel="ERROR" onMatch="ACCEPT" onMismatch="DENY"/>
            <PatternLayout pattern="${LOG_PATTERN}"/>
            <Policies>
                <TimeBasedTriggeringPolicy interval="1" modulate="true" />
            </Policies>
        </RollingFile>
    </Appenders>
    <Loggers>
        <Logger name="com.dool" additivity="false" level="debug">
            <AppenderRef ref="infoLog"  />
            <AppenderRef ref="errorLog" />
        </Logger>
        <Root level="debug" additivity="false">
            <appender-ref ref="console" />
        </Root>
    </Loggers>
</Configuration>
